import java.util.Scanner;

public class java101 {
   public static voif main(String[] args {
       Scanner scanner = new Scanner(System.in);

  int mat, fizik, kimya, turkce, tarih, muzik;

    // Her ders icin not 0-50 ise kaldi 50-100 ise gecti
